/* Global Styles */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Navbar Styles */
.navbar {
    background-color: #4267B2;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-user {
    display: flex;
    align-items: center;
}

.navbar-user span {
    margin-right: 10px;
}

.logout-link {
    color: white;
    text-decoration: none;
}

.logout-icon {
    width: 20px;
    height: 20px;
}

/* Sidebar Styles */
.main-content {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #4267B2;
    color: white;
    flex-shrink: 0;
    transition: width 0.3s;
}

.sidebar-menu {
    list-style-type: none;
    padding: 0;
}

.sidebar-menu li {
    padding: 15px;
    text-align: left;
}

.sidebar-menu li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebar-menu li a:hover {
    background-color: #a3d1e4;
}

.menu-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.toggle-btn {
    background-color: #4267B2;
    color: white;
    border: none;
    cursor: pointer;
    padding: 15px;
    text-align: left;
    width: 100%;
}

.toggle-btn:hover {
    background-color: #575757;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Toggle Sidebar */
.sidebar.collapsed {
    width: 60px;
}

.sidebar.collapsed .sidebar-menu li {
    text-align: center;
}

.sidebar.collapsed .sidebar-menu li a {
    justify-content: center;
}

.sidebar.collapsed .sidebar-menu li a span {
    display: none;
}
