{% extends "base.html" %}

{% block title %}Countries{% endblock %}

{% block content %}
<h2>Countries</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(size=32) }}<br>
        {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
<ul>
    {% for country in countries %}
    <li>{{ country.name }}
        <a href="{{ url_for('main.edit_country', country_id=country.id) }}">Edit</a>
        <form action="{{ url_for('main.delete_country', country_id=country.id) }}" method="post" style="display:inline;">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button type="submit">Delete</button>
        </form>
    </li>
    {% endfor %}
</ul>
{% endblock %}
