{% extends "base.html" %}

{% block title %}Regions{% endblock %}

{% block content %}
<h2>Regions</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(size=32) }}<br>
        {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.country_id.label }}<br>
        {{ form.country_id() }}<br>
        {% for error in form.country_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
<ul>
    {% for region in regions %}
    <li>{{ region.name }}
        <a href="{{ url_for('main.edit_region', region_id=region.id) }}">Edit</a>
        <form action="{{ url_for('main.delete_region', region_id=region.id) }}" method="post" style="display:inline;">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button type="submit">Delete</button>
        </form>
    </li>
    {% endfor %}
</ul>
{% endblock %}
